.heading {
    text-align: center;
    color: blue;
}

.random1 {
    font-weight: bold;
    color: white;
    background-color: red;
}

.random2 {
    font-weight: bold;
    color: green;
    background-color: yellow;
}

.random3 {
    font-weight: bold;
    color: turquoise;
    background-color: navy;
}

.random4 {
    font-weight: bold;
    color: black;
    background-color:grey;
}